<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392002823379-c232lca23s3efcgdeekt1apljrhf54ja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392002823379-c232lca23s3efcgdeekt1apljrhf54ja</string>
	<key>API_KEY</key>
	<string>AIzaSyBZmucerJZJ8AzpUdeKmflJlHRV3HC35Yw</string>
	<key>GCM_SENDER_ID</key>
	<string>392002823379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quickqueue</string>
	<key>PROJECT_ID</key>
	<string>quickqueue-17550</string>
	<key>STORAGE_BUCKET</key>
	<string>quickqueue-17550.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392002823379:ios:0b027d529bc7dde757a026</string>
	<key>DATABASE_URL</key>
	<string>https://quickqueue-17550-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>